.flexbox .form-item-checkbox
{
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 13pt;
    height: 42px;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 100%;
    
    -webkit-appearance: none;
    -webkit-user-select: text;   
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-drag: none;
    
    @include box-sizing(border-box);
    
    display: -webkit-box;
    display: -moz-box;
    display: box;
    
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal;
    
    .form-item-label
    {
        -webkit-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1;
        color: #999;
        padding-top: 9px;
    }
    
    input[type=checkbox] 
    {
        border: 1px solid rgba(150,150,150,0.6);
        height: 29px;
        width: 79px;
        -webkit-appearance: none;
        -webkit-border-radius: 14px;
        border-radius: 16px;
        background-image: url(../img/iphone/switch2.png);
        background-size:160px auto; /* 148 / 296 x 27 / 54*/
        background-size:148px 27px;
        background-repeat: no-repeat;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-duration: 350ms;
        -webkit-animation-name: checkbox-switch-off;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        background-position: -60px 0;
        box-shadow:0px 1px 0px rgba(255,255,255,0.3);
    }
    
    input:checked[type=checkbox]
    {
        background-position: -8px 0;
        -webkit-appearance: none;
        -webkit-animation-name: checkbox-switch-on;
    }

    .disabled input.form-item-checkbox[type=checkbox],
    input.form-item-checkbox[type=checkbox][disabled]
    {
        opacity:0.5;
    }
}

.no-flexbox {
    .form-item-label {
        float: left;
    }
    
    .form-item-checkbox {
        overflow: hidden;
    }
        
    input[type=checkbox]  {
        float: right;
    }
}

@-webkit-keyframes checkbox-switch-on 
{
    from
    {
        background-position: -60px 0;
    }
    to 
    {
        background-position: -8px 0;
    }
}
 
@-webkit-keyframes checkbox-switch-off
{
    from
    {
        background-position: -8px 0;
    }
    to 
    {
	background-position: -60px 0;
    }
}