@font-face {
    font-family: "gooddognew";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/gooddog-new/gooddog_new-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gooddog-new/gooddog_new-webfont.woff") format("woff"), url("../fonts/gooddog-new/gooddog_new-webfont.ttf") format("truetype"), url("../fonts/gooddog-new/gooddog_new-webfont.svg#GoodDogNewRegular") format("svg");
}