#loader,
#loader-spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    
}

#loader {
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
    height: 80px;    
    margin-left: -40px;
    margin-top: -40px;        
    visibility: hidden;
    width: 80px;
    z-index: 3000;
    
    &.visible
    {
        visibility: visible;
    }
}
/*.no-cssanimations #loader
{
    background: rgba(255, 255, 255, .5);
}*/

/*.no-cssanimations .spinner {
    display: block;
    
    background: transparent url(../img/common/preloader.gif) no-repeat center center;    
    height: 37px;
    margin-left: -17px;
    margin-top: -17px;
    width: 37px;
    pointer-events: none;
}*/

.spinner {
    display: block;
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    background-size: 20px auto;
    -webkit-animation: loading-sprite 1s step-start infinite;
    -moz-animation: loading-sprite 1s step-start infinite;
    animation: loading-sprite 1s step-start infinite;
    background: transparent url(../img/activity-indicator.png) no-repeat center center;    
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    width: 20px;
    pointer-events: none;
}



@-webkit-keyframes loading-sprite {
	0% { background-position: 0 0; }
	8.33% { background-position: 0 -20px; }
	16.67% { background-position: 0 -40px; }
	25% { background-position: 0 -60px; }
	33.33% { background-position: 0 -80px; }
	41.67% { background-position: 0 -100px; }
	50% { background-position: 0 -120px; }
	58.33% { background-position: 0 -140px; }
	66.67% { background-position: 0 -160px; }
	75% { background-position: 0 -180px; }
	83.33% { background-position: 0 -200px; }
	91.67% { background-position: 0 -220px; }
	100% { background-position: 0 0; }
}
@-moz-keyframes loading-sprite {
	0% { background-position: 0 0; }
	8.33% { background-position: 0 -20px; }
	16.67% { background-position: 0 -40px; }
	25% { background-position: 0 -60px; }
	33.33% { background-position: 0 -80px; }
	41.67% { background-position: 0 -100px; }
	50% { background-position: 0 -120px; }
	58.33% { background-position: 0 -140px; }
	66.67% { background-position: 0 -160px; }
	75% { background-position: 0 -180px; }
	83.33% { background-position: 0 -200px; }
	91.67% { background-position: 0 -220px; }
	100% { background-position: 0 0; }
}
@keyframes loading-sprite {
	0% { background-position: 0 0; }
	8.33% { background-position: 0 -20px; }
	16.67% { background-position: 0 -40px; }
	25% { background-position: 0 -60px; }
	33.33% { background-position: 0 -80px; }
	41.67% { background-position: 0 -100px; }
	50% { background-position: 0 -120px; }
	58.33% { background-position: 0 -140px; }
	66.67% { background-position: 0 -160px; }
	75% { background-position: 0 -180px; }
	83.33% { background-position: 0 -200px; }
	91.67% { background-position: 0 -220px; }
	100% { background-position: 0 0; }
}