ul.tableview {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    
    li {        
        list-style: none;
        display: table-row;
        padding-right: 9px;
        -webkit-user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0); 
        
        .item-content,
        .new-item-input {
            box-sizing: border-box;
            color: #000;
            font-size: 20px;
            height: 44px;
            line-height: 44px;                
            padding: 0 0 0 45px;
            -webkit-tap-highlight-color: rgba(0,0,0,0);            
        }
        
        .new-item-input {
            background: none;
            border: 0;
            line-height: 30px;
            padding-left: 0px;
        }
        
        .new-item {
            display: table;
            position: relative;
            
            .new-item-input {
                position: relative;
                z-index: 2;
            }
            
            .new-item-empty {
                color: #999;
                font-size: 20px;
                display: none;
                height: 44px;
                left: 0;
                line-height: 44px;
                position: absolute;
                top: 0;
                padding: 0 0 0 47px;            
                pointer-events: none;
                z-index: 1;
            }
        }
        &.new-item-li.empty .new-item-empty {
            display: block;
        }

        &.new-item-li.empty .plus {
            visibility: hidden;
        }
        
        .item-content {
            border-bottom: 1px solid #dad6d6;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            display: table-cell;
            width: 100%;
        }        
        
        a.item-content.tappable-active {
            background-image: -webkit-gradient(linear, left top, left bottom, from( #FFAC2A /*{global-active-background-start}*/), to( #E58D23 /*{global-active-background-end}*/));
        }
        
        
        &.selected .item-content {
            background: transparent sprite($sprite, selected, 9px, 10px) no-repeat;
        }
        
        .disclosure-wrap {
            border-bottom: 1px solid #dad6d6;
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            width: 40px;                        
        }
        
        &:last-child .disclosure-wrap {
            border-bottom: 0px none;
        }
        
        .disclosure {
            background: #ea841f sprite($sprite, btn-next) no-repeat;
            border-radius: 5px;
            display: inline-block;
            height: 30px;
            margin-right: 10px;      
            width: 30px;
            -webkit-touch-callout: none;

            &.tappable-active {
                background-color: #000;
            }
            
            &.plus {
                background-position: sprite-position($sprite, btn-plus);
            }
            
            &.minus {
                background-position: sprite-position($sprite, btn-minus);
            }
        }
        
        .new-item-wrap {
            display: table-cell;            
        }
        
        .item-loader {
            display: table-cell;
            height: 29px;
            margin-top: 9px;
            text-align: center;
            vertical-align: middle;
            width: 45px;
            
            .spinner {
                display: none;                
                margin-left: 2px;
            }
        }
        
        &.loading .item-loader .spinner {
            display: inline-block;
        }
    }        
}