.view.hidden {
    left: -9999px;
}

.view {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    @include box-sizing(border-box);
    bottom: 0;
    z-index: 2;
}

.scroll {
    background: transparent url(../img/bg.png);        
    bottom: 0;
    overflow: auto;
    position: absolute;
    top: 44px;
    width: 100%;
    @include box-sizing(border-box);
    
    -webkit-overflow-scrolling: touch;
    
    #view-home &,
    #view-homeback &
    {
        top: 0;
    }
}
