/* line 1, ../scss/layout/_core.scss */
html {
  height: 100%;
}

/* line 5, ../scss/layout/_core.scss */
body {
  background-color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
}

/* line 16, ../scss/layout/_core.scss */
header, #fake-header {
  background: url(../img/common/nav-toolbar.gif), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffac2a), color-stop(100%, #e58d23));
  background: url(../img/common/nav-toolbar.gif), -webkit-linear-gradient(top, #ffac2a, #e58d23);
  background: url(../img/common/nav-toolbar.gif), -moz-linear-gradient(top, #ffac2a, #e58d23);
  background: url(../img/common/nav-toolbar.gif), -o-linear-gradient(top, #ffac2a, #e58d23);
  background: url(../img/common/nav-toolbar.gif), -ms-linear-gradient(top, #ffac2a, #e58d23);
  background: url(../img/common/nav-toolbar.gif), linear-gradient(top, #ffac2a, #e58d23);
  color: #fff;
  height: 44px;
  line-height: 44px;
  position: relative;
  -webkit-user-select: none;
}
/* line 19, ../scss/layout/_core.scss */
.sliding header, .sliding #fake-header {
  background: transparent;
}
/* line 29, ../scss/layout/_core.scss */
header a, #fake-header a {
  -webkit-touch-callout: none;
}
/* line 33, ../scss/layout/_core.scss */
header h1, #fake-header h1 {
  padding: 0;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
  margin: 0 80px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /*                opacity: .5;*/
}

/* line 46, ../scss/layout/_core.scss */
.button {
  cursor: pointer;
}

/* line 51, ../scss/layout/_core.scss */
.offline .online {
  cursor: default;
  opacity: .2;
  pointer-events: none;
}

/* line 57, ../scss/layout/_core.scss */
#no-connection-msg {
  background: rgba(0, 0, 0, 0.5);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  display: none;
  left: 10%;
  margin-top: -100px;
  padding: 20px;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 80%;
  z-index: 100;
}

@font-face {
  font-family: "gooddognew";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/gooddog-new/gooddog_new-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gooddog-new/gooddog_new-webfont.woff") format("woff"), url("../fonts/gooddog-new/gooddog_new-webfont.ttf") format("truetype"), url("../fonts/gooddog-new/gooddog_new-webfont.svg#GoodDogNewRegular") format("svg");
}

/* line 2, ../scss/layout/_header-nav.scss */
.header-button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /*    background: transparent url(../img/iphone/button-active.png) no-repeat;*/
  cursor: pointer;
  height: 30px;
  line-height: 25px;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  margin: 0;
  padding: 0px 4px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.6);
  text-align: center;
  top: 8px;
  text-decoration: none;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 29, ../scss/layout/_header-nav.scss */
.header-button.hidden {
  display: none;
}

/* line 34, ../scss/layout/_header-nav.scss */
.header-button.button {
  /*    border: 1px solid rgba(255, 255, 255, .5);
      border-radius: 5px;*/
  -webkit-border-image: url(../img/iphone/button-orange.png) 4 10 4 10;
  -webkit-background-size: 0 0;
  border-width: 2px 5px;
}
/* line 43, ../scss/layout/_header-nav.scss */
.header-button.button.tappable-active {
  -webkit-border-image: url(../img/iphone/button-orange-active.png) 4 10 4 10;
}

/* line 49, ../scss/layout/_header-nav.scss */
.header-button.button-back {
  border-width: 2px 4px 2px 13px;
  -webkit-border-image: url(../img/iphone/button-back-orange.png) 4 8 4 26;
}
/* line 54, ../scss/layout/_header-nav.scss */
.header-button.button-back.tappable-active {
  -webkit-border-image: url(../img/iphone/button-back-orange-active.png) 4 8 4 26;
}

/* line 60, ../scss/layout/_header-nav.scss */
.header-button-left {
  left: 5px;
}

/* line 65, ../scss/layout/_header-nav.scss */
.header-button-right {
  right: 5px;
}

/* line 70, ../scss/layout/_header-nav.scss */
#header-button-lists {
  background: transparent url('../img/sprite-sd673589886.png') 10px -297px no-repeat;
  height: 44px;
  right: 5px;
  top: 0px;
  width: 44px;
}
/* line 78, ../scss/layout/_header-nav.scss */
#header-button-lists.tappable-active {
  background-position: 10px -228px;
}

/* line 1, ../scss/layout/_view.scss */
.view.hidden {
  display: none;
}

/* line 5, ../scss/layout/_view.scss */
.view {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}

/* line 20, ../scss/layout/_view.scss */
.scroll {
  background: transparent url(../img/bg.png);
  -webkit-overflow-scrolling: touch;
  height: 300px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  height: 100%;
}

/* line 5, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
#fake-header {
  left: 0;
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 13, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.sliding #fake-header {
  background: url(../img/common/nav-toolbar.gif), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffac2a), color-stop(100%, #e58d23));
  background: url(../img/common/nav-toolbar.gif), -webkit-linear-gradient(top, #ffac2a, #e58d23);
  background: url(../img/common/nav-toolbar.gif), -moz-linear-gradient(top, #ffac2a, #e58d23);
  background: url(../img/common/nav-toolbar.gif), -o-linear-gradient(top, #ffac2a, #e58d23);
  background: url(../img/common/nav-toolbar.gif), -ms-linear-gradient(top, #ffac2a, #e58d23);
  background: url(../img/common/nav-toolbar.gif), linear-gradient(top, #ffac2a, #e58d23);
  display: block;
}

/* line 24, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.view,
.view > .scroll,
.view > header h1,
.view > #fake-header h1,
.view > header .header-button,
.view > #fake-header .header-button {
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 350ms;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: 350ms;
  animation-timing-function: ease-in-out;
  animation-duration: 350ms;
}

/* line 35, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slow-anim .view,
.slow-anim .view > .scroll,
.slow-anim .view > header h1,
.slow-anim .view > #fake-header h1,
.slow-anim .view > header .header-button,
.slow-anim .view > #fake-header .header-button {
  -webkit-animation-duration: 3.5s;
  -moz-animation-duration: 3.5s;
  animation-duration: 3.5s;
}

/* line 41, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.sliding {
  /*	pointer-events: none;*/
}

/* line 46, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-in-from-right > .scroll {
  -webkit-animation-name: slideinfromright;
  -moz-animation-name: slideinfromright;
  animation-name: slideinfromright;
}

/* line 53, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-in-from-right > header h1, .slide-in-from-right > #fake-header h1 {
  -webkit-animation-name: slidefadeinfromright;
  -moz-animation-name: slidefadeinfromright;
  animation-name: slidefadeinfromright;
}

/* line 60, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-in-from-right > header .header-button, .slide-in-from-right > #fake-header .header-button {
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
  animation-name: fadein;
}

/* line 67, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-in-from-right > header .header-back-button, .slide-in-from-right > #fake-header .header-back-button {
  -webkit-animation-name: backinfromcenter;
  -moz-animation-name: backinfromcenter;
  animation-name: backinfromcenter;
}

/* line 74, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-in-from-left > .scroll {
  -webkit-animation-name: slideinfromleft;
  -moz-animation-name: slideinfromleft;
  animation-name: slideinfromleft;
}

/* line 80, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-in-from-left > header h1, .slide-in-from-left > #fake-header h1 {
  -webkit-animation-name: slidefadeinfromleft;
  -moz-animation-name: slidefadeinfromleft;
  animation-name: slidefadeinfromleft;
}

/* line 87, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-in-from-left > header .header-button, .slide-in-from-left > #fake-header .header-button {
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
  animation-name: fadein;
}

/* line 94, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-in-from-left > header .header-back-button, .slide-in-from-left > #fake-header .header-back-button {
  -webkit-animation-name: backinfromleft;
  -moz-animation-name: backinfromleft;
  animation-name: backinfromleft;
}

/* line 101, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-in-from-bottom {
  -webkit-animation-name: slideinfrombottom;
  -moz-animation-name: slideinfrombottom;
  animation-name: slideinfrombottom;
}

/* line 108, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-out-to-right > .scroll {
  -webkit-animation-name: slideouttoright;
  -moz-animation-name: slideouttoright;
  animation-name: slideouttoright;
}

/* line 114, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-out-to-right > header h1, .slide-out-to-right > #fake-header h1 {
  -webkit-animation-name: slidefadeouttoright;
  -moz-animation-name: slidefadeouttoright;
  animation-name: slidefadeouttoright;
}

/* line 121, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-out-to-right > header .header-button, .slide-out-to-right > #fake-header .header-button {
  -webkit-animation-name: fadeout;
  -moz-animation-name: fadeout;
  animation-name: fadeout;
}

/* line 128, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-out-to-right > header .header-back-button, .slide-out-to-right > #fake-header .header-back-button {
  -webkit-animation-name: backouttocenter;
  -moz-animation-name: backouttocenter;
  animation-name: backouttocenter;
}

/* line 135, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-out-to-left > .scroll {
  -webkit-animation-name: slideouttoleft;
  -moz-animation-name: slideouttoleft;
  animation-name: slideouttoleft;
}

/* line 142, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-out-to-left > header h1, .slide-out-to-left > #fake-header h1 {
  -webkit-animation-name: slidefadeouttoleft;
  -moz-animation-name: slidefadeouttoleft;
  animation-name: slidefadeouttoleft;
}

/* line 149, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-out-to-left > header .header-button, .slide-out-to-left > #fake-header .header-button {
  -webkit-animation-name: fadeout;
  -moz-animation-name: fadeout;
  animation-name: fadeout;
}

/* line 156, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-out-to-left > header .header-back-button, .slide-out-to-left > #fake-header .header-back-button {
  -webkit-animation-name: backouttoleft;
  -moz-animation-name: backouttoleft;
  animation-name: backouttoleft;
}

/* line 163, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slide-out-to-bottom {
  -webkit-animation-name: slideouttobottom;
  -moz-animation-name: slideouttobottom;
  animation-name: slideouttobottom;
}

/* line 171, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.viewport-flip {
  -webkit-perspective: 1000;
  background-color: #000;
}

/* line 175, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.viewport-flip header.fake, .viewport-flip .fake#fake-header {
  visibility: hidden;
}

/* line 179, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.flip {
  background-color: #fff;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: .7s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: none;
  border: 1px solid #000;
  margin: -1px;
  /*	pointer-events: none;*/
}

/* line 189, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.slow-anim .flip {
  -webkit-animation-duration: 7s;
}

/* line 193, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.flip-out-to-left {
  -webkit-animation-name: flipouttoleft;
}

/* line 196, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.flip-out-to-right {
  -webkit-animation-name: flipouttoright;
}

/* line 199, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.flip-in-from-left {
  -webkit-animation-name: flipinfromleft;
}

/* line 202, e:/Development/Sites/ishake/assets/scss/layout/animation/_core.scss */
.flip-in-from-right {
  -webkit-animation-name: flipinfromright;
}

@-webkit-keyframes slideinfromright {
  /* line 2, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  from {
    -webkit-transform: translateX(100%);
  }

  /* line 3, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  to {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideinfromleft {
  /* line 6, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  from {
    -webkit-transform: translateX(-100%);
  }

  /* line 7, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  to {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideouttoleft {
  /* line 10, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 11, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  to {
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes slideouttoright {
  /* line 14, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 15, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  to {
    -webkit-transform: translateX(100%);
  }
}

@-webkit-keyframes slidefadeinfromright {
  /* line 19, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  0% {
    -webkit-transform: translateX(60%);
    opacity: 0;
  }

  /* line 25, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  99% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }

  /* line 30, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slidefadeinfromleft {
  /* line 36, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  0% {
    -webkit-transform: translateX(-60%);
    opacity: 0;
  }

  /* line 40, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  99% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }

  /* line 45, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slidefadeouttoleft {
  /* line 51, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  0% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }

  /* line 56, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  99% {
    -webkit-transform: translateX(-60%);
    opacity: 0;
  }

  /* line 61, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  100% {
    -webkit-transform: translateX(-60%);
    opacity: 0;
  }
}

@-webkit-keyframes slidefadeouttoright {
  /* line 67, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  0% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }

  /* line 72, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  99% {
    -webkit-transform: translateX(60%);
    opacity: 0;
  }

  /* line 77, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  100% {
    -webkit-transform: translateX(60%);
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  /* line 84, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  from {
    opacity: 0;
  }

  /* line 85, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  /* line 88, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  from {
    opacity: 1;
  }

  /* line 89, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  to {
    opacity: 0;
  }
}

@-webkit-keyframes backinfromcenter {
  /* line 94, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  from {
    -webkit-transform: translateX(200%);
    opacity: 0;
  }

  /* line 98, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  to {
    left: 0;
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes backinfromleft {
  /* line 105, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  from {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }

  /* line 109, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  to {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes backouttocenter {
  /* line 115, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  from {
    -webkit-transform: translateX(0);
    opacity: 1;
  }

  /* line 119, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  to {
    -webkit-transform: translateX(200%);
    opacity: 0;
  }
}

@-webkit-keyframes backouttoleft {
  /* line 125, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  from {
    -webkit-transform: translateX(0);
    opacity: 1;
  }

  /* line 129, e:/Development/Sites/ishake/assets/scss/layout/animation/_slide.scss */
  to {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes flipinfromright {
  /* line 4, e:/Development/Sites/ishake/assets/scss/layout/animation/_flip.scss */
  from {
    -webkit-transform: rotateY(-180deg) scale(0.65);
    opacity: 0;
  }

  /* line 5, e:/Development/Sites/ishake/assets/scss/layout/animation/_flip.scss */
  50% {
    opacity: .4;
  }

  /* line 6, e:/Development/Sites/ishake/assets/scss/layout/animation/_flip.scss */
  to {
    -webkit-transform: rotateY(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes flipinfromleft {
  /* line 10, e:/Development/Sites/ishake/assets/scss/layout/animation/_flip.scss */
  from {
    -webkit-transform: rotateY(180deg) scale(0.65);
    opacity: 0;
  }

  /* line 11, e:/Development/Sites/ishake/assets/scss/layout/animation/_flip.scss */
  50% {
    opacity: .4;
  }

  /* line 12, e:/Development/Sites/ishake/assets/scss/layout/animation/_flip.scss */
  to {
    -webkit-transform: rotateY(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes flipouttoleft {
  /* line 16, e:/Development/Sites/ishake/assets/scss/layout/animation/_flip.scss */
  from {
    -webkit-transform: rotateY(0) scale(1);
    opacity: 1;
  }

  /* line 17, e:/Development/Sites/ishake/assets/scss/layout/animation/_flip.scss */
  50% {
    opacity: .4;
  }

  /* line 18, e:/Development/Sites/ishake/assets/scss/layout/animation/_flip.scss */
  to {
    -webkit-transform: rotateY(-180deg) scale(0.65);
    opacity: 0;
  }
}

@-webkit-keyframes flipouttoright {
  /* line 22, e:/Development/Sites/ishake/assets/scss/layout/animation/_flip.scss */
  from {
    -webkit-transform: rotateY(0) scale(1);
    opacity: 1;
  }

  /* line 23, e:/Development/Sites/ishake/assets/scss/layout/animation/_flip.scss */
  50% {
    opacity: .4;
  }

  /* line 24, e:/Development/Sites/ishake/assets/scss/layout/animation/_flip.scss */
  to {
    -webkit-transform: rotateY(180deg) scale(0.65);
    opacity: 0;
  }
}
